.nav {
  background-color: lawngreen;
  height: 10vh;
}

.container {
  display: flex;
  flex-direction: row;

  background-color: red;
  min-height: 90vh;
}

.sidebar {
  background-color: blueviolet;
  // width: 10vw;
  flex-grow: 1;
}

.main {
  background-color: goldenrod;
  // width: 90vw;
  flex-grow: 5;
}
